---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Nunito:400,700');

:root {
  --primary_color_lol: #720891;
}

body {
  background: var(--primary_color_lol);
  font: 18px/22px Nunito, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #929292;
  padding-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Merriweather;
  font-weight: 900;
  color: #9c8020;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  margin-top: 50px;
}

h3 {
  font-size: 22px;
  margin-top: 40px;
}

strong,b {
  font-weight: 700;
}

footer {
 position: static;
 margin: 0;
 text-align: center;
 width: 100%;
 color: #f8f8f8;
 background: #2a0235;
 padding-top: 30px;
 padding-bottom: 20px;
}

footer a {
  color: #18ffca;
}

footer small {
  opacity: .6;
}

li input[type="checkbox"] {
 margin-right: 6px;
    position: relative;
    top: 2px
}

code {
 font-family: monospace;
 font-size: 16px;
 background: #151414;
 text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

pre {
    background: #151414;
    border-radius: 0;
    border: 0;
}

.highlight .na {
      color: #349cc7;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #80b114;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
 color: #e26bca; 
}

#banner #logo {
  background-image: url('/CSSTool/assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: var(--primary_color_lol);
  right: auto;
  left: 0;
  width: 236px;
  height: 86px;
  top: 0px;
  padding: 0 10px;
}

header {
  display: none;
}
#banner {
  background: #4e0863;
  border-color: #4e0863;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  top: 0;
  box-shadow: none;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
}
section {
  width: 100%; 
  margin: 0 auto;
  margin-top: 88px;
  background: #000;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

nav {
  text-align: center;
  left: 0;
  margin-left: 0;
  width: 100%;
  right: 0;
  z-index: 10;
  background:var(--primary_color_lol);
  top: 52px;
  box-shadow: none;
}
nav ul {
   margin: 0; 
   padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

nav ul li.tag-h1 a {
  font-weight: normal;
  color: #fff;
}

nav ul li a:hover,
nav ul li.active a {
  color: #18ffca;
}
#banner .button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#banner .fork ,
#banner .button.fork:hover{
  background: #650582;
  left: 269px;
  margin-top: 9px;
  margin-left: 0;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
  transition: .3s;
}



#banner .fork strong {
  color: #e2e2e2;
}
#banner .downloads span {
    font-size: 120%;
    font-weight: 500;
    color: #ccc;
  text-shadow: none;
}
#banner ul li a.button {
  padding: 10px 20px;
  background-color: #1cad23;
  color: #FFF;
}

#banner .button:hover {
  background: #1cad23;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

@media all and (max-width: 768px) and (min-width: 0){
  #banner {padding-bottom: 11px;background: var(--primary_color_lol);}
  #banner, nav {display: block !important;}
  #banner .downloads span { display: none; }
  #banner .downloads {margin-right: 10px;}
  #banner ul li a.button {font-size:12px;padding: 10px 16px;margin-left: 10px;margin-top:9px;}
  #banner .fork {
    left: auto !important;
    right: 60px;
    font-size: 10px;
    padding: 10px 7px;
    box-shadow: none;
    background: #46045a;
  }
  nav ul li:nth-of-type(2) { display: none ;}
  #banner #logo {
    left: 5px;
    height: 62px;
    width: 170px;
  }
  nav {
    background: #46045a;
    top: 63px;
  }
  nav ul li a {
    padding: 5px;
    font-family: 14px;
  }
}
 