---
---

@import "{{ site.theme }}";

body {
  background: #ccc;
}

footer {
 position: static;
 margin: 0;
 text-align: center;
 width: 100%;
}

li input[type="checkbox"] {
 margin-right: 6px;
    position: relative;
    top: 2px
}

code {
 font-family: monospace;
 font-size: 16px;
 background: #151414;
 text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

pre {
    background: #151414;
    border-radius: 0;
    border: 0;
}

.highlight .na {
      color: #349cc7;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #80b114;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
 color: #e26bca; 
}

#banner #logo {
  background-image: url('https://igorfaria.github.io/CSSLoL/assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  right: auto;
  left: 20px;
  width: 100px;
  filter: invert(0.8);
  height: 50px;
  top: 0px;
}

header {
  display: none;
}
#banner {
  background: #333;
  border-color: #333;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  top: 0;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
}
section {
  width: calc(100% - 40px); 
  margin: 0 auto;
  margin-top: 106px;
  background: #FFF;
  box-sizing: border-box;
  border: 0;
}

nav {
  text-align: center;
  left: 0;
  margin-left: 0;
  width: 100%;
  right: 0;
  z-index: 10;
  background: #f1f1f1;
  top: 52px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
nav ul {
   margin: 0; 
   padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #6b6a6a;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover,
nav ul li.active a {
  background: rgba(255, 255, 255, 1);
  color: #1b1b1b1;
}
#banner .button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#banner .fork {
  background: #232323;
  left: 145px;
  margin-top: 9px;
  margin-left: 0;
  
}



#banner .fork strong {
  color: #fff;
}
#banner .downloads span {
    font-size: 120%;
    font-weight: 500;
    color: #ccc;
  text-shadow: none;
}
#banner ul li a.button {
  padding: 10px 48px;
  background-color: #1cad23;
  color: #FFF;
}
#banner .button:hover {
  background: #cccccc;
  color: #333;
}
#banner .button:hover strong {
  color: #333;
}

@media all and (max-width: 768px) and (min-width: 0){
  #banner, nav {display: block !important;}
  #banner .downloads span { display: none; }
  #banner .downloads {margin-right: 10px;}
  #banner ul li a.button {font-size:12px;padding: 10px 16px;margin-left: 10px;margin-top:9px;}
  #banner .fork {left: 110px;font-size:11px;}
  nav ul li:nth-of-type(2),
  nav ul li:nth-of-type(5),nav ul li:nth-of-type(6),
  nav ul li:nth-of-type(7),nav ul li:nth-of-type(9) { display: none ;}
}
