---
---

@import "{{ site.theme }}";

:root {
  --primary_color_lol: #720891;
}

body {
  background: #078266;
}

footer {
 position: static;
 margin: 0;
 text-align: center;
 width: 100%;
 color: #f8f8f8;
}

footer a {
  color: #929090;
}

li input[type="checkbox"] {
 margin-right: 6px;
    position: relative;
    top: 2px
}

code {
 font-family: monospace;
 font-size: 16px;
 background: #151414;
 text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

pre {
    background: #151414;
    border-radius: 0;
    border: 0;
}

.highlight .na {
      color: #349cc7;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #80b114;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
 color: #e26bca; 
}

#banner #logo {
  background-image: url('/CSSTool/assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  right: auto;
  left: 20px;
  width: 240px;
  height: 90px;
  top: 0px;
}

header {
  display: none;
}
#banner {
  background: var(--primary_color_lol);
  border-color: var(--primary_color_lol);
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  top: 0;
  box-shadow: none;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
}
section {
  width: 100%; 
  margin: 40px auto;
  margin-top: 88px;
  background: #FFF;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
}

nav {
  text-align: center;
  left: 0;
  margin-left: 0;
  width: 100%;
  right: 0;
  z-index: 10;
  background:var(--primary_color_lol);
  top: 52px;
  box-shadow: none;
}
nav ul {
   margin: 0; 
   padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #e2e2e2;
    font-size: 16px;
    font-weight: 500;
}

nav ul li.tag-h1 a {
  color: #e2e2e2;
}

nav ul li a:hover,
nav ul li.active a {
  color: #fff;
  font-weight: normal;
}
#banner .button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#banner .fork ,
#banner .button.fork:hover{
  background: #650582;
  left: 290px;
  margin-top: 9px;
  margin-left: 0;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
  transition: .3s;
}



#banner .fork strong {
  color: #e2e2e2;
}
#banner .downloads span {
    font-size: 120%;
    font-weight: 500;
    color: #ccc;
  text-shadow: none;
}
#banner ul li a.button {
  padding: 10px 48px;
  background-color: #1cad23;
  color: #FFF;
}

#banner .downloads ul li:last-of-type {
  display:none;
}

#banner .button:hover {
  background: #1cad23;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

@media all and (max-width: 768px) and (min-width: 0){
  #banner, nav {display: block !important;}
  #banner .downloads span { display: none; }
  #banner .downloads {margin-right: 10px;}
  #banner ul li a.button {font-size:12px;padding: 10px 16px;margin-left: 10px;margin-top:9px;}
  #banner .fork {left: 180px;font-size:11px;}
  nav ul li:nth-of-type(2),
  nav ul li:nth-of-type(5),nav ul li:nth-of-type(6),
  nav ul li:nth-of-type(7),nav ul li:nth-of-type(9) { display: none ;}
  #banner #logo {
    left: 5px;
    height: 62px;
    width: 170px;
  }
}
 